.container svg {
    color: white;
    font-size: 30px;
}

.span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;

}
h6{
    display: flex;
    justify-content: center;
    color: aliceblue;
}